/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes scrollSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scrollFast {
  animation: scrollSlide 18s linear infinite;
}

@keyframes scrollFast {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes scrollSlow {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
/* speeds */
.animate-scrollFast {
  animation: scrollFast 16s linear infinite;
}
.animate-scrollSlow {
  animation: scrollSlow 35s linear infinite;
}
/* Hover pause */
.pause-scroll {
  animation-play-state: paused !important;
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
}
